Package: com.chilly167.zxupdatenotifier
Name: zxUpdateNotifier
Version: 1.2-1
Architecture: iphoneos-arm
Description: Background App Store update notifier.
Maintainer: Chilly167
Author: zxcvbn
Section: Tweaks
Depends: firmware (>= 14.0)